{% extends 'main.html' %}
{% block content %}

<div class="card card-default">
    <div class="card-header card-header-border-bottom">
        <h2>Invoices </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                {% for invoice in form%}
                 <li><a href="{% url 'invoice-edit' invoice.id %}">
                {{invoice.w_customer}} <br/>
                {{invoice.trx_id}} <br/>
                {{invoice.customer}} <br/>
                {{invoice.PlanPrice}} <br/>
                {{invoice.status}} <br/>
                {{invoice.updated}} <br/>
                 </a>
                 </li>
                {% endfor%}
            </div>
        </div>
    </div>
</div>

{% endblock %}
